<%= stylesheet_link_tag 'passwords', media: 'all', 'data-turbolinks-track': 'reload' %>

<body class="passwords-background">
  <div class="passwords-container">
    <h2 class="text-center">パスワードをお忘れですか？</h2>
    <p class="text-center">メールアドレスに新しいパスワードの申請を送信します。メールアドレスを入力してください</p>

    <%= form_with(url: password_resets_path, method: :post, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "example@example.com" %>
      </div>

      <div class="actions">
        <%= f.submit "パスワードの再設定", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</body>
