<nav class="navbar header">
  <div class="container">
    <div class="navbar-brand">
      <% if params[:from] == 'calendar' %> <!-- カレンダーから来た場合 -->
        <%= link_to '戻る', calendar_patients_path, class: "navbar-item" %>
      <% elsif params[:from] == 'search' %> <!-- 検索結果から来た場合 -->
        <%= link_to '戻る', search_patients_path, class: "navbar-item" %>
      <% elsif defined?(@patient) && @patient.try(:persisted?) && current_page?(edit_patient_path(@patient)) %>
        <%= link_to '戻る', patient_path(@patient), class: "navbar-item" %>
      <% elsif current_page?(new_patient_path) || (defined?(@patient) && @patient.try(:persisted?) && current_page?(patient_path(@patient))) %>
        <%= link_to '戻る', patients_path, class: "navbar-item" %>
      <% elsif current_page?(search_patients_path) || current_page?(search_form_patients_path) %>
        <%= link_to '戻る', patients_path, class: "navbar-item" %>
      <% elsif current_page?(calendar_patients_path) %> <!-- カレンダーから直接来た場合 -->
        <%= link_to '戻る', patients_path, class: "navbar-item" %>
      <% elsif @chat_room && current_page?(chat_room_path(@chat_room)) %> <!-- 各チャットルームにいる場合 -->
        <%= link_to 'チャットルーム選択に戻る', chat_rooms_path, class: "navbar-item" %>
      <% elsif current_page?(chat_rooms_path) %> <!-- チャットルームにいる場合 -->
        <%= link_to '戻る', patients_path, class: "navbar-item" %>
      <% elsif current_page?(models_path) %> 
        <%= link_to '戻る', patients_path, class: "navbar-item" %>
      <% elsif current_page?(new_model_path) %> <!-- 患者模型作成ページにいる場合 -->
        <%= link_to '戻る', models_path, class: "navbar-item" %>
      <% elsif current_page?(prostheses_path) %> 
        <%= link_to '戻る', patients_path, class: "navbar-item" %>
      <% elsif current_page?(list_prostheses_path) %> 
        <%= link_to '戻る', prostheses_path, class: "navbar-item" %>
      <% elsif current_page?(supplies_path) || params[:from] == 'supplies' || request.path.start_with?("/supplies/index") %> 
        <%= link_to '戻る', patients_path, class: "navbar-item" %>
      <% elsif current_page?(new_supply_path) %> 
        <%= link_to '戻る', supplies_path, class: "navbar-item" %>
      <% elsif @supply.present? && current_page?(supply_path(@supply)) %> 
        <%= link_to '戻る', supplies_path, class: "navbar-item" %>
      <% elsif current_page?(archives_supplies_path) %> 
        <%= link_to '戻る', supplies_path, class: "navbar-item" %>
      <% elsif params[:id].present? && current_page?(show_archive_supply_path(params[:id])) %> 
        <%= link_to '戻る', supplies_path, class: "navbar-item" %>
      <% elsif current_page?(archives_patients_path) %> 
        <%= link_to '戻る', patients_path, class: "navbar-item" %>
      <% elsif params[:year].present? && current_page?(show_archive_patients_path(year: params[:year])) %>
        <%= link_to '戻る', patients_path, class: "navbar-item" %>
      <% elsif @archive_patient && current_page?(patient_archive_path(@archive_patient)) %> 
        <%= link_to '戻る', show_archive_patients_path(year: @archive_patient.archived_year), class: "navbar-item" %>
      <% elsif params[:id].present? && request.path.start_with?('/archives/details') %>
        <%= link_to '戻る', show_archive_patients_path(year: @archive_patient.archived_year), class: "navbar-item" %>
      <% elsif current_page?(shipments_path) %> 
        <%= link_to '戻る', patients_path, class: "navbar-item" %>
      <% elsif current_page?(metals_path) %> 
        <%= link_to '戻る', patients_path, class: "navbar-item" %>
      <% elsif current_page?(new_metal_path) %> 
        <%= link_to '戻る', metals_path, class: "navbar-item" %>
      <% elsif @metal.present? && current_page?(metal_path(@metal)) %> 
        <%= link_to '戻る', metals_path, class: "navbar-item" %>
      <% elsif @metal.present? && current_page?(new_purchase_metal_path(@metal)) %> 
        <%= link_to '戻る', metal_path(@metal), class: "navbar-item" %>
      <% elsif request.fullpath.start_with?(patients_path) %>
        <!-- サイドバーボタンを表示 -->
        <button id="sidebar-toggle" aria-label="Toggle Sidebar" class="navbar-item">☰</button>
      <% else %>
        <%= link_to "Kira Dental Clinic", root_path, class: "navbar-item" %>
      <% end %>
    </div>
    <div class="navbar-end">
      <% if logged_in? %>
        <!-- ログインしているユーザーの部署名を表示 -->
        <% if current_user && current_user.department %>
          <span class="navbar-item department">部署: <span class="department-name"><%= current_user.department.name %></span></span>
        <% end %>
        <%= link_to "ログアウト", logout_path, method: :delete, data: { turbo: false }, class: "navbar-item logout-button" %>
      <% else %>
        <%= link_to "ログイン", login_path, class: "navbar-item login-button" %>
        <%= link_to "新規登録", signup_path, class: "navbar-item signup-button" %>
      <% end %>
    </div>
  </div>
</nav>


<!-- サイドバーのHTML構造 -->
<div id="sidebar" class="sidebar">
  <button id="sidebar-close" aria-label="Close Sidebar">✖</button>
  <ul>
    <li><%= link_to '患者登録', new_patient_path %></li>
    <li><%= link_to '患者検索', search_form_patients_path %></li>
    <li><%= link_to 'チャット', chat_rooms_path %></li>
    <li><%= link_to 'セット日カレンダー', calendar_patients_path %></li>
    <li><%= link_to '情報', prostheses_path %></li>
    <li><%= link_to '集荷', shipments_path %></li>
    <li><%= link_to '模型管理', models_path %></li>
    <li><%= link_to '物品管理', supplies_path %></li>
    <li><%= link_to 'メタル管理', metals_path %></li>
    <li><%= link_to '保管庫', archives_patients_path %></li>
  </ul>
</div>
