<nav class="navbar header">
  <div class="container">
    <div class="navbar-brand">
      <% if current_page?(new_patient_path) || (defined?(@patient) && current_page?(patient_path(@patient))) %>
        <%= link_to '戻る', patients_path, class: "navbar-item" %>
      <% elsif current_page?(patients_path) %>
        <!-- サイドバーボタンを表示 -->
        <button id="sidebar-toggle" aria-label="Toggle Sidebar" class="navbar-item">☰</button>
      <% else %>
        <%= link_to "Kira Dental Clinic", root_path, class: "navbar-item" %>
      <% end %>
    </div>
    <div class="navbar-end">
      <% if current_page?(root_path) %>
        <%= link_to "ログイン", login_path, class: "navbar-item" %>
        <%= link_to "新規登録", signup_path, class: "navbar-item" %>
      <% else %>
        <% if logged_in? %>
          <%= link_to "ログアウト", logout_path, method: :delete, data: { turbo: false }, class: "navbar-item" %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>

<!-- サイドバーのHTML構造 -->
<div id="sidebar" class="sidebar">
  <button id="sidebar-close" aria-label="Close Sidebar">✖</button>
  <ul>
    <li><%= link_to '患者登録', new_patient_path %></li>
    <li><a href="#">患者検索</a></li>
    <li><a href="#">チャット</a></li>
    <li><a href="#">セット日カレンダー</a></li>
  </ul>
</div>
