<% breadcrumb :patients %>
<div class="patient-list">
  <h1>患者一覧</h1>
  <p class="patient-list-english">Patient List</p>

  <div class="todaysbuttons-container">
    <%= link_to '今日', patients_path(today: true), id: "today-button", class: "today-btn-primary #{'active' if session[:filter] == 'today'}" %>
    <% if !current_user.guest? %>
      <%= button_to '今年の患者データをアーカイブ', archive_patients_path(year: Date.current.year), method: :post, class: 'patients-btn-archive', data: { confirm: 'アーカイブすると患者一覧からデータが消えます。実行しますか？' } %>
    <% end %>
  </div>

  <!-- 患者データの表示部分 -->
  <div id="patient-table-container">
    <table>
      <thead>
        <tr>
          <th>印象日</th>
          <th class="check-column">チェック</th>
          <th>カルテ番号</th>
          <th>氏名</th>
          <th>補綴種類</th>
          <th>補綴部位</th>
          <th>メタルの種類</th>
          <th>メタル量</th>
          <th>依頼先</th>
          <th>セット/試適</th>
          <th>セット日</th>
          <th class="delivery-column">納品チェック</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% if @patients.any? %>
          <% @patients.each do |patient| %>
            <tr>
              <td><%= patient.impression_date %></td>
              <td class="check-column">
                <%= form_with(url: update_note_checked_patient_path(patient), method: :patch, id: "note-checked-form-#{patient.id}", local: false) do |form| %>
                  <%= form.check_box :note_checked, checked: patient.note_checked, class: "note-checked-checkbox" %>
                <% end %>
              </td>
              <td><%= patient.medical_record_number %></td>
              <td><%= patient.name %></td>
              <td>
                <%= patient.prosthesis_type_insurance %>
                <%= patient.prosthesis_type_crown %>
                <%= patient.prosthesis_type_denture %>
                <% if patient.prosthesis_type_crown == "AB" %>
                  <br>
                  <strong>上部構造:</strong> <%= patient.additional_option.present? ? patient.additional_option : "未選択" %>
                <% end %>
              </td>
              <td class="tooth-diagram-font">
                <%= convert_to_dental_notation(
                  upper_left: patient.upper_left, 
                  upper_right: patient.upper_right, 
                  lower_left: patient.lower_left, 
                  lower_right: patient.lower_right
                ) if patient.upper_left.present? || patient.upper_right.present? || patient.lower_left.present? || patient.lower_right.present? %>
              </td>
              <td><%= patient.metal_type %></td>
              <td>
                <%= form_with(model: patient, local: true, url: update_metal_amount_patient_path(patient), method: :patch) do |form| %>
                  <%= form.text_field :metal_amount, value: number_with_precision(patient.metal_amount, precision: 2, strip_insignificant_zeros: true), class: "metal-amount-field" %>
                  <span style="margin-left: 5px;">g</span>
                <% end %>
              </td>
              <td><%= patient.requester %></td>
              <td><%= patient.trial_or_set %></td>
              <td>
                <% if patient.tel_pending == 'tel' %>
                  Tel待ち
                <% elsif patient.tel_pending == 'set' %>
                  Set待ち
                <% elsif patient.set_date.present? %>
                  <%= patient.set_date %>
                <% else %>
                  未定
                <% end %>
              </td>
              <td class="delivery-column">
                <%= form_with(url: update_delivery_checked_patient_path(patient), method: :patch, id: "delivery-checked-form-#{patient.id}", local: false) do |form| %>
                  <%= form.check_box :delivery_checked, checked: patient.delivery_checked, class: "delivery-checked-checkbox" %>
                <% end %>
              </td>
              <td><%= link_to '詳細', patient_path(patient), class: 'btn btn-info' %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="13">データがありません</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination-container">
      <%= paginate @patients %>
    </div>
  </div>
</div>

<script>
document.addEventListener('turbo:load', function() {
  // チェックボックスの変更を処理するイベントリスナー
  document.body.addEventListener('change', function(event) {
    if (event.target.matches('.check-column input[type="checkbox"], .delivery-column input[type="checkbox"]')) {
      event.preventDefault();
      const checkbox = event.target;
      const form = checkbox.closest('form');
      if (form) {
        const formData = new FormData(form);
        const url = form.action;

        fetch(url, {
          method: 'PATCH',
          body: formData,
          headers: {
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            'Accept': 'application/json'
          }
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
      }
    }
  });

  // 「今日」ボタンと「全て表示」ボタンのイベントリスナー
  const todayButton = document.getElementById('today-button');
  const allButton = document.getElementById('all-button');

  if (todayButton) {
    todayButton.addEventListener('click', function(e) {
      e.preventDefault();
      window.location.href = this.getAttribute('href') + "&toggle=true";
    });
  }

  if (allButton) {
    allButton.addEventListener('click', function(e) {
      e.preventDefault();
      window.location.href = this.getAttribute('href');
    });
  }
});

</script>