<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <link rel="preload" href="<%= asset_path('application.css') %>" as="style">
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.15/index.global.min.js'></script>

  </head>

  <body data-turbolinks="false">
    <%= render 'shared/header' %>

    <main>
      <div class="main">
        <%= yield %>

        <!-- 非表示にするフラッシュメッセージ -->
        <% if flash[:notice] %>
          <div id="flash-notice" class="flash-message" style="display: none;">
            <%= flash[:notice] %>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div id="flash-alert" class="flash-message" style="display: none;">
            <%= flash[:alert] %>
          </div>
        <% end %>

        <%= render partial: 'layouts/flash_window' %>
      </div>
    </main>

    <%= render 'shared/footer' %>
    
  </body>
</html>
